* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
  background-image: url('bg.jpg');
  background-size: cover;
  background-position: top center;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 97.5vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}

header input {
  text-align: center;
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  margin-bottom: 15px;
  border: none;
  outline: none;
  background: none;
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #DF8E00;

  color: #313131;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

header input:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#searchBtn {
  width: 100%;
  max-width: 100px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background: none;
  border-radius: 16px 15px 16px 15px;
  border-bottom: 3px solid #c206bf;
  cursor: pointer;
  color: #313131;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

#searchBtn:hover {
  background-color: rgba(234, 28, 234, 0.327);
}

header input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location .city {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}

.location .date {
  color: #FFF;
  font-size: 16px;
}

.current .temp {
  color: #FFF;
  font-size: 102px;
  font-weight: 900;
  margin: 30px 0px;
  text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}

.current .temp span {
  font-weight: 500;
}

.current .weather {
  color: #FFF;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .others {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}

#error {
  text-align: center;
  display: none;
  color: #FFF;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-top: 15px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

footer {
  text-align: center;
  color: #FFF;
  font-size: 1vw;
}

@media only screen and (max-width: 430px) {
  header {
    padding: 10px 10px 10px;
  }
  
  header input {
    max-width: 120px;
    padding: 3px 3px;
    margin-bottom: 5px;
    border-radius: 10px 0px 10px 0px;
    border-bottom: 2px solid #DF8E00;
    font-size: 11px;
  }
  
  #searchBtn {
    max-width: 70px;
    padding: 2px 3px;
    border-radius: 9px 8px 9px 8px;
    border-bottom: 2px solid #c206bf;
    font-size: 10px;
  }
  
  main {
    padding: 10px 10px 25px;
  }
  
  .location .city {
    font-size: 14px;
  }
  
  .location .date {
    font-size: 5px;
  }
  
  .current .temp {
    font-size: 30px;
    margin: 10px 0px;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.6);
  }
  
  .current .weather {
    font-size: 14px;
    margin-bottom: 6px;
  }
  
  .current .others {
    font-size: 10px;
  }
  
  #error {
    font-size: 12px;
    text-shadow: 0px 1.5px rgba(0, 0, 0, 0.4);
  }
}